@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap');

*{
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}



.navbar {
    overflow: hidden;
    background-color: white;
    font-family: Verdana,sans-serif;
}

.navbar a {
    float: right;
    font-size: 16px;
    color: black;
    text-align: center;
    padding: 16px 16px;
    text-decoration: none;
}
.navbar p {
    float: left;
    color: black;
}

.dropdwn {
    float: right;
    overflow: hidden;
}

.dropdwn .dropbtn {
    font-size: 16px;
    border: none;
    outline: none;
    color: black;
    padding: 16px 16px;
    background-color: inherit;
    margin: 0;
}

.navbar a:hover, .dropdwn:hover .dropbtn {
    background-color: #116269;
}

.navbar .fa-sign-out:hover, .fa-user:hover  {
    background-color: #116269;
    color: white;
}

.navbar a.active {
    background-color: #666;
    color: white;
}

.dropdwn-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdwn-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdwn-content a:hover {
    background-color: #ddd;
}

.dropdwn:hover .dropdwn-content {
    display: block;
}